<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chess.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vis.min.js') }}"></script>
</head>
<body>
    <div id="board-info">
        <div id="stage"></div>
        <div id="measure"></div>
        <div id="dtm"></div>

        <div id="move-count"></div>
    </div>
    <div id="board" style="width: 400px; margin-bottom: 20px;"></div>
    <div id="controls">
        <button id="restartBtn">Restart</button>
        <button id="customPositionBtn">Set Custom Position</button>
        <button id="toggleTreeBtn">Hide Tree Visualization</button>
        <div id="setupControls" style="display: none;">
            <label for="whiteKing">White King:</label>
            <input type="text" id="whiteKing" placeholder="e1">
            <label for="blackKing">Black King:</label>
            <input type="text" id="blackKing" placeholder="e8">
            <label for="whiteRook">White Rook:</label>
            <input type="text" id="whiteRook" placeholder="a1">
            <button id="applySetup">Apply</button>
        </div>
    <div id="tree"></div>
    <style>
        .card {
            width: 100%;
            height: 600px;
        }
    </style>
    <script>
        var treeVisible = true;
        var startingFen = null;
        const staticBaseUrl = "{{ url_for('static', filename='') }}";
        var board = null;
        var game = new Chess();
        var boardConfig = {
            draggable: true,
            position: 'start',
            onDrop: handleMove,
            orientation: 'white',
            pieceTheme: staticBaseUrl + 'img/chesspieces/{piece}.png',
        };
        var whiteMoveCount = 0;
    
        function handleMove(source, target) {
            var move = game.move({
                from: source,
                to: target,
                promotion: 'q'
            });
    
            if (move === null) return 'snapback';

            whiteMoveCount++;
            window.setTimeout(makeGoodMove, 250);             
        }
    
        function makeGoodMove() {
            var bestMove = getGoodMove(game.fen());
            var moveObj = { from: bestMove.substring(0, 2), to: bestMove.substring(2, 4) };
            game.move(moveObj);
            board.position(game.fen());
            checkGameStatus();
        }
    
        function getGoodMove(fen) {
            var move = null;
            $.ajax({
                url: '/move', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ board: fen }),
                async: false,
                success: function (data) {
                    move = data.move;
                    if (treeVisible) {
                        $('#tree').html(data.tree_html); 
                    }

                    $('#stage').text("Stage: " + data.board_info.stage);
                    $('#measure').text("Measure: " + data.board_info.measure);
                    $('#dtm').text("White moves until mate when playing optimal: " + data.board_info.dtm);
                    $('#move-count').text("Total moves of white: " + whiteMoveCount);
                }
            });
            return move;
        }
        function checkGameStatus() {
            if (game.in_checkmate()) {
                alert("Checkmate! Game Over.");
            }
        }

        function restartGame() {
            $.ajax({
                url: '/custom_setup', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ fen: startingFen }),
                success: function (data) {
                    var fen = data.board_fen;
                    startingFen = fen;
                    game.load(fen);
                    board = Chessboard('board', Object.assign({}, boardConfig, { position: fen }));
                    whiteMoveCount = 0;
                    $('#tree').html(""); 
                    $('#stage').text("Stage: " + data.board_info.stage);
                    $('#measure').text("Measure: " + data.board_info.measure);
                    $('#dtm').text("White moves until mate when playing optimal: " + data.board_info.dtm);
                    $('#move-count').text("Total moves of white: " + whiteMoveCount);
                }
            });
        }
        
        function setCustomPosition() {
            $('#setupControls').toggle();
        }
        function applySetup() {
            var whiteKing = $('#whiteKing').val().trim();
            var blackKing = $('#blackKing').val().trim();
            var whiteRook = $('#whiteRook').val().trim();

            if (whiteKing === '' || blackKing === '' || whiteRook === '') {
                alert('Please enter positions for all pieces.');
                return;
            }

            var positionPattern = /^[a-h][1-8]$/;
            if (!positionPattern.test(whiteKing) || !positionPattern.test(blackKing) || !positionPattern.test(whiteRook)) {
                alert('Please enter valid positions (e.g., "e1", "a8", etc.).');
                return;
            }

            $.ajax({
                url: '/custom_setup',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ wr: whiteRook, wk: whiteKing, bk: blackKing }),
                success: function (data) {
                    var fen = data.board_fen;
                    startingFen = fen;
                    game.load(fen);
                    board = Chessboard('board', Object.assign({}, boardConfig, { position: fen }));
                    whiteMoveCount = 0;
                    $('#setupControls').hide();
                    $('#tree').html(""); 
                    $('#stage').text("Stage: " + data.board_info.stage);
                    $('#measure').text("Measure: " + data.board_info.measure);
                    $('#dtm').text("White moves until mate when playing optimal: " + data.board_info.dtm);
                    $('#move-count').text("Total moves of white: " + whiteMoveCount);
                }
            });
        }

        function toggleTree() {
            $('#tree').toggle();
            treeVisible = !treeVisible;
            $('#toggleTreeBtn').text(treeVisible ? 'Hide Tree Visualization' : 'Show Tree Visualization');
            $('#tree').html(""); 
        }

        $(document).ready(function () {
            $.ajax({
                url: '/setup', 
                type: 'GET',
                success: function (data) {
                    var fen = data.board_fen;
                    startingFen = fen;
                    game.load(fen);
                    board = Chessboard('board', Object.assign({}, boardConfig, { position: fen}));
                    $('#tree').html(""); 
                    $('#stage').text("Stage: " + data.board_info.stage);
                    $('#measure').text("Measure: " + data.board_info.measure);
                    $('#dtm').text("White moves until mate when playing optimal: " + data.board_info.dtm);
                    $('#move-count').text("Total moves of white: " + whiteMoveCount);
                }
            });
            $('#restartBtn').on('click', restartGame);
            $('#customPositionBtn').on('click', setCustomPosition);
            $('#applySetup').on('click', applySetup);
            $('#toggleTreeBtn').on('click', toggleTree); 
        });
    </script>
</body>
</html>
